# OS / IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

# Virtual envs
.venv/
venv/
env/

# Build / dist
build/
dist/

# Notebooks
.ipynb_checkpoints/

# Data & results (keep if you really need them)
pdb_results/
3d_input_files/
*.tar
*.tar.gz
*.zip

# Tools / binaries
ViennaRNA-2.6.4/
Miniconda3-*
